<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>相片時區修改器</string>
    <key>CFBundleDisplayName</key><string>相片時區修改器</string>
    <key>CFBundleIdentifier</key><string>tw.steven.phototimezone</string>
    <key>CFBundleExecutable</key><string>PhotoTimezoneApp</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>3.0.0</string>
    <key>CFBundleVersion</key><string>3</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key><string>相片與資料夾</string>
            <key>CFBundleTypeRole</key><string>Editor</string>
            <key>LSHandlerRank</key><string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.jpeg</string><string>public.tiff</string>
                <string>public.camera-raw-image</string><string>public.folder</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
